%h1 
  Your Order

%br

%table{:class=>'table', :style=>'width:100%'}
  -@orders.each do |o|
    %tr
      %td
        = Product.find(o.product_id).name
      %td
        = o.id
      %td
        = o.created_at
