%h1 You are ordering
%hr
%table
  =form_for @order do |o|
    =o.hidden_field 'product_id', :value=>@product.id
    =o.hidden_field 'place_id', :value=>@place.id
    %tr
      %td
        %h1
          =@product.name
      %td
        %h1
          =number_to_currency @product.price

    %tr
      %td
        %h2
          @
      %td
        %h1
          =@place.name
    %tr
      %td
        =o.submit 'Confirm Purchase',:class=>'btn'
  
