%h1 Orders#new
%p Find me in app/views/orders/new.html.haml


= form_for @order do |o|
  =o.hidden_field :product_id,@product.id
  =o.hidden_field :place_id, @place.id
  =o.submit 'Confirm Purchase'
  
