%h2
  Thank you!

%h2
  Your order is currently being processed.

%h2 
  Your number is 
  = @order.id
%h2
  Wait time is around 5 minutes.

%h2
  = @product.name
%h2
  = number_to_currency @product.price

