%h1 Places#new

.pull-left
  %table
    =form_for @place do |f|
      %tr
        %td
          Name
        %td
          =f.text_field :name
      %tr
        %td
          Description
        %td
          =f.text_area :desc
      %tr
        %td
        %td
          =f.submit 'Add', :class=>'btn'
.pull-right
  -@places.each do |p|
    =link_to p.name, place_path(p.id)
    %br
